@{
    ViewBag.Title = "_Client";
}

<style>
    div.page_Client {
        background-color: white;
        margin: 0px;
        padding: 10px;
        padding-top: 50px;
   
    }
    div.fieldContent {
     padding-left: 40px;
    }
</style>
<div class="page_Client">

<div class="fieldContent">
@*<div class="form-group">
    <label for="Client"></label>
    <input type="hidden" class="form-control" id="ClientId" name="Clientid" placeholder="Client Id" value="@Model.ClientId" />
</div>*@

<div class="form-group">
    <label for="Code">Code</label>
    <input min="1" autocomplete="off" type="number" class="form-control" id="Code" name="Code" placeholder="Code" value="@Model.Code" />
</div>

<div class="form-group">
    <label for="Name">Name</label>
    <input autocomplete="off" type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
</div>

<div class="form-group">
    <label for="Address">Address</label>
    <input autocomplete="off" type="text" class="form-control" id="Address" name="Address" placeholder="Address" value="@Model.Address">
</div>

@*<div class="form-group">
    <label for="CompanyId">Company Id</label>
    <input type="number" class="form-control" id="CompanyId" name="CompanyId" placeholder="Company Id" value="@Model.CompanyId">
</div>*@

<div class="form-group">
    <label for="RegistrationNumber">Registration No.</label>
    <input autocomplete="off" type="text" class="form-control" id="RegistrationNumber" name="RegistrationNumber" placeholder="Registration Number" value="@Model.RegistrationNumber">
</div>


<div class="form-group">
    <label for="CurrencyCode">CurrencyCode</label>
    <select class="form-control" id="CurrencyCode" name="CurrencyCode">
        <option value="USD" @(Model.CurrencyCode == "USD" ? "Selected": string.Empty)>USD</option>
        <option value="GBP" @(Model.CurrencyCode == "GBP" ? "Selected": string.Empty)>GBP</option>
        <option value="PHP" @(Model.CurrencyCode == "PHP" ? "Selected": string.Empty)>PHP</option>
    </select>
</div>

<div class="form-group">
    <label for="WithHoldingTaxPercentage">WithHoldingTaxPercentage</label>
    <input type="number" class="form-control" id="WithHoldingTaxPercentage" name="WithHoldingTaxPercentage" placeholder="WithHoldingTaxPercentage"  value="@Model.WithHoldingTaxPercentage">
</div>

<div class="form-group">
        <label for="TaxTypeId"></label>
        <input type="hidden" class="form-control" id="TaxTypeId" name="TaxTypeId" placeholder="TaxType Id" value="1">
</div>


<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>
</div>

</div>