@{
    ViewBag.Title = "_Client";
}



<div class="form-group">
    <label for="Code">Code</label>
    <input type="number" class="form-control" id="Code" name="Code" placeholder="Code" value="@Model.Code">
</div>


@*<div class="form-group">
    <label for="ClientId">Client ID</label>
    <input type="text"  class="form-control" id="ClientId" name="Clientid" placeholder="enter code" value="@Model.ClientId" />
</div>*@

<div class="form-group">
    <label for="Name">Company Name</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="name" value="@Model.Name">
</div>



<div class="form-group">
    <label for="Address">Address</label>
    <input type="text" class="form-control" id="Address" name="Address" placeholder="address" value="@Model.Address">
</div>


<div class="form-group">
    <label for="Registration">Registration No.</label>
    <input type="number" class="form-control" id="Registration" name="Registration" placeholder="Registration No." value="@Model.Registration">
</div>

<div class="form-group">
    <label for="email1">Email one</label>
    <input type="email" class="form-control" id="email1" name="email1" placeholder="email" value="@Model.email1">
</div>

<div class="form-group">
    <label for="email2">Email two</label>
    <input type="email" class="form-control" id="email2" name="email2" placeholder="email" value="@Model.email2">
</div>

<div class="form-group">
    <label for="email3">Email three</label>
    <input type="email" class="form-control" id="email3" name="email3" placeholder="email" value="@Model.email3">
</div>



@*<div class="form-group">
    <label for="TaxType1">Tax Type</label>
    <select class="form-control" id="TaxType1" name="TaxType1">
        <option value="VAT" @(Model.TaxType1 == "VAT" ? "Selected" : string.Empty)>VAT</option>
        <option value="NonVat" @(Model.TaxType1 == "NonVat" ? "Selected" : string.Empty)>NonVat</option>
        <option value="ZeroRated" @(Model.TaxType1 == "ZeroRated" ? "Selected" : string.Empty)>ZeroRated</option>
    </select> 
</div>*@

<div class="form-group">
    <label for="CurrencyCode">CurrencyCode</label>
    <select class="form-control" id="CurrencyCode" name="CurrencyCode">
        <option value="USD" @(Model.CurrencyCode == "USD" ? "Selected": string.Empty)>USD</option>
        <option value="GBP" @(Model.CurrencyCode == "GBP" ? "Selected": string.Empty)>GBP</option>
        <option value="PHP" @(Model.CurrencyCode == "PHP" ? "Selected": string.Empty)>PHP</option>
    </select>
</div>

@*<div class="form-group">
        <label for="WithHoldingTaxPercentage">WithHoldingTax</label>
        <select class="form-control" id="WithHoldingTaxPercentage" name="WithHoldingTaxPercentage">
            <option value="oneP" @(Model.WithHoldingTaxPercentage == "oneP" ? "Selected" : string.Empty)>1%</option>
            <option value="twoP" @(Model.WithHoldingTaxPercentage == "twoP" ? "Selected" : string.Empty)>2%</option>
            <option value="threeP" @(Model.WithHoldingTaxPercentage == "threeP" ? "Selected" : string.Empty)>5%</option>
        </select>
    </div>*@

<div class="form-group">
    <label for="WithHoldingTaxPercentage">WithHolding Tax</label>
    <input type="number" class="form-control" id="WithHoldingTaxPercentage" name="WithHoldingTaxPercentage" placeholder="WithHoldingTaxPercentage"  value="@Model.WithHoldingTaxPercentage">
</div>


<div class="form-group">
    <label for="TaxTypeId"></label>
    <input type="hidden" class="form-control" id="TaxTypeId" name="TaxTypeId" placeholder="TaxType Id" value="1">
    <select class="form-control" id="TaxTypeId" name="TaxTypeId">
    
    </select>
</div>

<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>

