@model IEnumerable<AndersonPay.Models.Employee>
@using AndersonPay.Models.InvoiceContext;
@{
    InvoiceContext db = new InvoiceContext();
}
<script>
    $('body').on('hidden.bs.modal', '.modal', function () {
        $(this).removeData('bs.modal');
    });
</script>
<style>
    #grad1 {
        color: white;
        margin: 0px;
        background: linear-gradient(to right, #159cf6, #97dded);
    }
</style>
@*<div class="content-wrapper">
    <div class="content">*@

        <!-- Detached content -->
        @*<div class="container-detached">
            <div class="content-detached">
                <div class="navbar navbar-default navbar-xs navbar-component">
                    <ul class="nav navbar-nav no-border visible-xs-block">
                        <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-filter"><i class="icon-menu7"></i></a></li>
                    </ul>
                    <p class="navbar-text">Filter:</p>
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-sort-time-asc position-left"></i> By date <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index")">Show all</a></li>
                                <li class="divider"></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateToday })">Today</a></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateThisWeek })">This week</a></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateThisMonth })">This month</a></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateThisYear })">This year</a></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateDesc })">Date Descending</a></li>
                                <li><a href="@Url.Action("Index", new { sortBy = ViewBag.SortDateAsc })">Date Ascending</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>*@

        <div class="content-wrapper" style="padding:50px;">
            <p>
                <!-- Button trigger modal -->
                @*<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" href="@Url.Action("Create", "AddEmployees")">
                        <i class="glyphicon glyphicon-plus-sign"></i> Add Employee
                    </button>*@
                @*<button type="button" class="btn btn-primary btn-lg"*@@*href="@Url.Action("Create", "AddEmployees")"*@
                <a class="btn btn-primary btn-lg" href="/AddCompany/Index"><i class="glyphicon glyphicon-chevron-left"></i> BACK</a>
                @*</button>*@
                <button type="button" class="btn btn-primary btn-lg" style="float:right;" data-toggle="modal" data-target="#myModal" href="@Url.Action("Create", "AddEmployees")">
                    <i class="glyphicon glyphicon-user"></i> Add Employee
                </button>
            </p>

            @{var ptrEmployeeDetails = 0; }
            @foreach (var item in db.Employees.ToList())
            {

                <div class="panel panel-flat" id="grad1" style="padding:5px;margin-bottom:2px;padding-left:20px;">


                    <div class="row" style="margin-top:4px;">


                        <span class="col-xs-4 col-xs-offset-0" style="cursor:pointer;" data-toggle="collapse" data-target="#@ptrEmployeeDetails" aria-expanded="false" aria-controls="@ptrEmployeeDetails">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </span>
                        <div class="col-xs-8 colxs-offset-8">
                            <ul class="list-inline list-inline-condensed heading-text pull-right">
                                x
                                <li class="dropdown">
                                    <a href="#" class="text-default dropdown-toggle" data-toggle="dropdown"><i class="icon-menu7"></i> <span class="caret"></span></a>
                                    <ul class="dropdown-menu dropdown-menu-right">
                                        <li><a data-toggle="modal" data-target="#myModal" href="@Url.Action("Edit", "AddEmployees", new { id = item.FullName })"><i class="glyphicon glyphicon-pencil"></i> Edit</a></li>
                                        <li class="divider"></li>
                                        <li><a data-toggle="modal" data-target="#myModal" href="@Url.Action("Delete", "AddEmployees", new { id = item.FullName })"><i class="glyphicon glyphicon-trash"></i> Delete</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                        <div class="collapse" id="@ptrEmployeeDetails">
                            @{ ptrEmployeeDetails++;}
                            <div class="panel panel-flat" style="padding:10px;">
                                <div class="row">
                                    <div class="col-xs-4">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        <b>
                                            @Html.DisplayName("Employee Name")
                                            <span>: </span>
                                        </b>
                                    </div>
                                    <span class="col-xs-4 col-xs-offset-0"> @Html.DisplayFor(modelItem => item.FullName)</span>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        <b>
                                            @Html.DisplayName("Start Date")
                                            <span>: </span>
                                        </b>
                                    </div>
                                    <span class="col-xs-4 col-xs-offset-0"> @Html.DisplayFor(modelItem => item.StartDate)</span>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        <b>
                                            @Html.DisplayName("End Date")
                                            <span>: </span>
                                        </b>
                                    </div>
                                    <span class="col-xs-4 col-xs-offset-0"> @Html.DisplayFor(modelItem => item.EndDate)</span>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        <b>
                                            @Html.DisplayName("Job Position")
                                            <span>: </span>
                                        </b>
                                    </div>
                                    <span class="col-xs-4 col-xs-offset-0"> @Html.DisplayFor(modelItem => item.JobName)</span>

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-xs-4">
                                        &nbsp;
                                        &nbsp;
                                        &nbsp;
                                        <b>
                                            @Html.DisplayName("Company")
                                            <span>: </span>
                                        </b>
                                    </div>
                                    <span class="col-xs-4 col-xs-offset-0"> @Html.DisplayFor(modelItem => item.CompanyName)</span>

                                </div>
                                <br />
                                <br />
                            </div>
                        </div>
                                }
        </div>
    @*</div>
</div>*@
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>

</div>
