@model  AndersonPay.Models.Archive
@{
    ViewBag.Title = "Create Archive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Use This To prevent the back option of the browser...Fred was here HAkHAK!-->
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

@using (Html.BeginForm("CreateArchive", "AndersonPay", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="page-header">
        <div class="page-header-content">
            <div class="page-title">
                <h4><i class="icon-folder-plus position-left"></i> <span class="text-semibold">Anderson.Pay</span> - Create new archive</h4>
            </div>
        </div>
        <div class="content">

            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Archive Details</h5>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a data-action="collapse"></a></li>
                            <li><a data-action="reload"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="editor-label" style="margin-top:20px;font-family:Arial,Verdana;font-size:18px">
                        @using (Html.BeginForm("CreateArchive", "AndersonPay", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            <div class="panel-body">

                                <div class="editor-label" style="font-family:Arial,Verdana;font-size:15px">
                                    @Html.LabelFor(model => model.Name)
                                </div>
                                <div class="editor-field">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" }, })
                                    <i style="color:red;font-size:13px">@Html.ValidationMessageFor(model => model.Name)</i>
                                    <br />
                                </div>
                                <div class="editor-label" style="margin-top:20px;font-family:Arial,Verdana;font-size:15px">
                                    @Html.LabelFor(model => model.Summary)
                                </div>

                                <div class="editor-field">
                                    @Html.TextAreaFor(model => model.Summary, new { @class = "form-control", @rows = 3 })
                                    <i style="color:red;font-size:13px">@Html.ValidationMessageFor(model => model.Summary)</i>
                                </div>
                                <div class="editor-label" style="margin-top:20px;font-family:Arial,Verdana;font-size:15px">
                                    <label>Files:</label>
                                </div>
                                <div class="editor-field">
                                    <input type="file" name="file" multiple="multiple"/>
                                </div>
                                <div class="text-right">
                                    <button type="submit" value="Create" class="btn btn-primary">Add To Archive<i class="icon-arrow-right14 position-right"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
     </div>


        }


