@model AndersonPay.Models.typeofservice

<style>
    #grad1 {
        color: white;
        margin: 0px;
        background: linear-gradient(to right, #159cf6, #97dded);
    }
</style>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal" style="padding:20px;">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel panel-heading" id="grad1" style="padding:5px;margin-bottom:10px;padding-left:20px;">
            <h3>Add New Services</h3>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NameOfService, htmlAttributes: new { @class = "control-label col-md-2" })
                
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NameOfService, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter a new service" } })
                    <i class="icon-magazine form-control-feedback"></i>
                    @Html.ValidationMessageFor(model => model.NameOfService, "", new { @class = "text-danger" })
                </div>
            </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <span>Withholding Tax %</span>
                <select>
                    <option> </option>
                    <option>0%</option>
                    <option>1%</option>
                    <option>2%</option>
                    <option>5%</option>
                </select>
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

        </div>

        
    
}

