
@{
    ViewBag.Title = "_TypeOfService";
}

<div class="form-group">
    <label for="Type Of Service Id"></label>
    <input type="hidden" class="form-control" id="TypeOfServiceId" name="TypeOfServiceId"  value="@Model.TypeOfServiceId">
</div>

<div class="form-group">
    <label for="NameOfService">Name Of Service</label>
    <input type="text" class="form-control" id="NameOfService" name="NameOfService" placeholder="Name Of Service" value="@Model.NameOfService">
</div>

<div class="form-group">
    <label for="Rate">Rate</label>
    <input type="number" class="form-control" id="Rate" name="Rate" placeholder="Rate" value="@Model.Rate">
</div>

<div class="form-group">
    <label for="ServiceDescription">Service Description</label>
    <input type="text" class="form-control" id="ServiceDescription" name="ServiceDescription" placeholder="Service Description" value="@Model.ServiceDescription">
</div>

<div class="form-group">
    <label for="WhTax">With Holding Tax</label>
    <input type="number" class="form-control" id="WhTax" name="WhTax" placeholder="With Holding Tax" value="@Model.WhTax">
</div>




<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>


