@model ETypeOfService
@using AndersonPayEntity;
@{
    ViewBag.Title = "Delete";
}
<div class="form-horizontal" style="padding:20px;">
    <div class="panel panel-heading" id="grad1" style="padding:5px;margin-bottom:10px;padding-left:20px;">
        <h3>Are you sure you want to remove this service?</h3>
    </div>
    <div>

        <hr />
        <dl class="dl-horizontal">
           

            <dt>
                @Html.DisplayName("Type of Service")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameOfService)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Rate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Rate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Currency)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Currency)
            </dd>
            <dt>
                @Html.DisplayName("Service Description")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceDescription)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color" style="padding-top:15px; padding-left:100px">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        }
    </div>
</div>

